

		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="https://www.facebook.com/unicorngaminghub/" target="_blank"><img src="../../assets/facebook-16.png" class="fooimg"></a>
				<a href="https://www.linkedin.com/company/unicorngaminghub/" target="_blank"><img src="../../assets/linkedin-3-16.png" class="fooimg"></a>
				<a href="https://twitter.com/ugaminghub?lang=en" target="_blank"><img src="../../assets/twitter-16.png" class="fooimg"></a>

			</div>

			<div class="footer-left">
        <p>Unicorn Gaming Hub &copy; </p>
        <p>unicorngamings19@gmail.com</p>

			</div>

		</footer>
